html {
    font-size: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
    object-fit:cover;
}

header {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items:center;
}

main {
    margin-left: 2rem;
    margin-right: 2rem;
}

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(242,242,242);
    margin-top:4rem;
}

h3{
    margin:0.5rem;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    margin: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

span{
    font-size:1.5em;
}

button {
    font-family: 'Raleway', sans-serif;
}

input {
    font-size: 1em;
    font-weight: bold;
    padding-left: 20px;
}

li{
    margin:0.5rem;
}

input::placeholder{
    color:black;
}

.logo {
    max-width: 100%;
    height: 75px;
    margin-top:2rem;
}

.home {
    order: 1;
    flex-grow: 1;
}

.menu {
    font-weight: bold;
    order: 2;
}

.sign {
    font-weight: bold;
    order: 3;
}
    .sign a {
        color: rgb(16,111,252);
    }

.menuButton {
    padding: 1.5rem 1.5rem;
    padding-top:2.75rem;
    border-block-start: 2px solid transparent;
    background-color: transparent;
    
}
    .menuButton:hover {
        color: rgb(16,111,252);
        border-block-start: 2px solid rgb(16,111,252);
    }

.search {
    display: inline-flex;
    margin-bottom: 1rem;
}

.geo {
    background-color:rgb(240,240,240);
    border-radius: 15px 0 0 15px;
    padding: 15px 15px;   
}

.location {
    border: none;
    border-bottom: 2px solid rgb(240,240,240);
    border-top: 2px solid rgb(240,240,240);
    height: 52px;
    
}

.searchButton {
    visibility:visible;
    background-color: rgb(16,111,252);
    border: none;
    border-radius: 0 15px 15px 0;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.searchButtonSmall {
    visibility: hidden;
    background-color: rgb(16,111,252);
    border: none;
    border-radius: 0 15px 15px 0;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.icon {
    height: 35px;
    border-radius: 50%;
    border-color: transparent;
    padding: 10px;
    background-color: rgb(222,235,255);
}

.trendIcon {
    float: right;
    height: 30px;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 15px;  
}

.filter {
    display: flex;
    border-radius: 29px;
    border: 2px solid lightgrey;
    padding: 0px;
    background-color: white;
    padding-right: 20px;  
}
.filter span {
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 10px;
}

.filters p {
    font-weight: bold;
}
    .filter:hover {
        background-color: rgb(222,235,255);
    }

.info {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: solid 1px lightgrey;
    text-align: center;
    color: rgb(16,111,252);
}

.infoResult {
    display: flex;
    margin-bottom: 4rem;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description p {
    margin-left: 0.5rem;
}

.rating{
    margin-left:0.5rem;
}
.fullStar {
    color: rgb(16,111,252);
}
.emptyStar{
    color:grey;
}

.housing {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
}

.mainHousing h2 {
    grid-column: 1/4;
}

.mainHousing {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 2rem;
    width: 75%;
    background-color: rgb(242,242,242);
    border-radius: 30px;
    padding: 2rem;
}

.mainHouse {
    background-color: white;
    border: solid white 5px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px lightgrey;
    overflow:hidden;
    width: 100%;
    height: 300px;
    background-color:transparent;
}

.descriptionMainHouse {
    position:relative;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.descriptionMainHouse p{
    margin-left:0.5rem;
}

.more{
    font-weight:bold;
    cursor:pointer;
}

.trendHousing {
    background-color: rgb(242,242,242);
    border-radius: 30px;
    padding:2rem;
}

.trendHouse {
    display: grid;
    grid-template-columns: 35% 65%;
    border: solid white 5px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px lightgrey;
    overflow: hidden;
    height: 200px;
    margin-top: 3rem;
}

.trendHouseImg {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 20% ;
}

.activity {
    display: flex;
 }

.activitiesBig {
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 5px 5px 5px lightgrey;
    width: 25%;
    margin:1rem;
}
.activitiesSmall {
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 5px 5px 5px lightgrey;
    margin-top:1rem;
}
.containerAct {
    width:25%;
}
.activitiesImgBig{  
    height:500px;  
}
.activitiesImgSmall {
    height: 215px;
}
.descriptionAct {
    position: relative;
    padding:0.5rem;
    background-color: white;
    vertical-align:middle;
}

/*Tablet*/
@media (max-width: 1400px) {
    .housing{
        flex-direction:column-reverse;
    }
    .mainHousing{
        width:93%;
    }
    .activity {
        flex-wrap: wrap;
    }

    .activitiesBig {
        width:45%;
    }
    .containerAct {
        width: 50%;
    }
}


/*Smartphone*/
@media (max-width: 767.98px) {
    body {
        margin:0;
    }
    
    header{
        margin:0;
    }
    
    main {
        margin:0;
    }

    header {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    footer {
        display: block;
        
    }
    
    h1{
        margin-left:1rem;
    }

    .logo {
        max-width: 100%;
        height: 75px;
        margin: 5px;
    }

    .home {
        order: 1;
    }

    .menu {
        order: 3;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin:0;
    }

    .sign {
        order: 2;
        margin: 5px 15px;
        display:flex;
        align-items:center;
    }

    .menuButton {
        width: 100%;
        border-block-end: 2px solid lightgrey;
        text-align:center;
    }

        .menuButton:hover {
            color: rgb(16,111,252);
            border-block-start: hidden;
            border-block-end: 2px solid rgb(16,111,252);
        }

    .h {
        margin-left: 1rem;
    }
        
    .search{
        margin-left:1rem;
    }

    .searchButton {
        visibility:hidden;
    }
    
    .searchButtonSmall {
        visibility:visible;
        margin-left:-8rem;
    }

    .infoResult{
        margin-left:1rem;
    }

    .housing {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .mainHousing h2 {
        grid-column: 1/2;
    }

    .mainHousing {
        display: block;
        width: 100%;
        padding:1rem;
        background-color: white;
    }

    .mainHouse {
        width: 100%;
        height:275px;
        margin-bottom:2rem;
    }

    .descriptionMainHouse{
        margin-left:1rem;
    }

    .trendHousing {
        background-color: rgb(242,242,242);
        border-radius: 0;
        padding:1rem;
    }

    .activity {
        display: block;
    }

    #activity {
        padding: 1rem;
    }
   
    .activitiesBig {
        margin:0;
        margin-top:1rem;
        width:100%;
        height:250px;
    }

    .containerAct {
        width: 100%;
    }
}


